//- 로그인 할 수 있는 웹 페이지 (Code 3.13을 pug 형태로)
form(method="post", action="/login")
    div 
        label Username: 
        input#username-input(name="username", type="text")
    div 
        label Password: 
        input#password-input(name="password", type="password")
    div
        div Introduce yourself 
        textarea#introduction-input(name="introduction")
    button(type="submit") Submit
